@import 'tailwindcss';
@import '@fortawesome/fontawesome-free/css/all.min.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-ufo-green: #34C759;
    --color-azure: #007AFF;
    --color-vivid-gamboge: #FF9500;
    --color-coral-red: #FF3B30;
}

/* VALIDATION STYLE */
.invalid-feedback {
    @apply text-coral-red mt-0.5 tracking-wide;
}
